/*
Använd box-sizing: border-box;
*/

.simple {
  width: 500px;
  margin: 20px auto;
  border: 1px solid red;
  box-sizing: border-box;
}

.fancy {
  width: 500px;
  margin: 20px auto;
  padding: 50px;
  border: solid blue 1px;
  box-sizing: border-box;
}
