body{
  font-family: "Barlow Condensed", Arial, sans-serif;
  background-image: url(img/arches.png);
  background-color: #ebebeb;
}

h1, h2, h3 {
  font-family: "Montserrat", Arial, sans-serif;
}

article, aside, footer, nav {
  border-radius: 15px;
  padding: 1%;
}
