img {
  float: right;
  width: 50%;
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.3);
}

nav {
  float: left;
  /*ändrat*/
  width: 25%;
}

section {
  /*ändrat*/
  margin-left: 25%;
}

.box {
  background-color: rgba(30, 20, 120, 0.3);
}

p {
  background-color: rgba(130, 120, 20, 0.3);
}

.clearfix {
  overflow: auto;
}
