.static {
  position: static;
  background-color: rgba(255, 0, 0, 0.3);
}

.relative1 {
  position: relative;
  background-color: rgba(0, 255, 0, 0.3);
}

.relative2 {
  position: relative;
  top: -40px;
  left: 50px;
  background-color: rgba(0, 0, 255, 0.3);
  width: 500px;
}

.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  background-color: rgba(0, 100, 200, 0.3);
}

/* Jämför Relative med Absolute  */

.relative {
  position: relative;
  width: 600px;
  height: 400px;
  background-color: rgba(120, 50, 180, 0.3);
}

.absolute {
  position: absolute;
  /*top: 120px;
  right: 0;*/
  width: 300px;
  /*height: 200px;*/
  background-color: rgba(120, 30, 77, 0.3);
}
