.container {
  position: relative;
  background-color: rgba(255, 0, 0, 0.3);
}
nav {
  position: absolute;
  left: 0px;
  width: 200px;
  background-color: rgba(0, 255, 0, 0.3);
}

section {

  margin-left: 200px;
  background-color: rgba(0, 0, 255, 0.3);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: white;
  width: 100%;
  background-color: rgba(0, 100, 200, 0.3);
}
body {
  margin-bottom: 120px;
  background-color: rgba(120, 50, 180, 0.3);
}
